<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../public/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
</head>
<body>
    
    <div class="container" style="margin-top: 100px;">
        <form action="/employee/" method="POST"  id="employee_form"> 
        
            <div id="top" style="border: 5px solid black; margin-left: 20%; margin-right: 20%; margin-top: 2%;">
                
                <br><label style="margin: 10px; font-weight: bolder; font-size: large;">Employee Name</label>
                        <input class="" type="text" name="empName" id="empName" placeholder="Enter employee Name" value="">
                <br><label style="margin: 10px; font-weight: bolder; font-size: large;">Employee Code </label>
                        <input class="" type="text" name="employeeCode" id="empCode" placeholder="enter employee code" value="" required>
                <br><label style="margin: 10px; font-weight: bolder; font-size: large;">Department Name</label>
                <select name="department"  id="selectdept" style="width:fit-content; height: 30px;">
                    <option>Select Department*</option>
                        <% for (var i = 0; i < department.length; i++) { %>
                            
                            <option value="<%= department[i].deptName %>"><%= department[i].deptName %></option>
                        
                        <% } %>
                </select>
                <br><label style="margin: 10px; font-weight: bolder; padding-left: -80px; font-size: large;">DOJ </label>
                        <input class="" type="date" style="margin-left:100px;" name="DOJ" id="empDOJ" placeholder="enter DOJ" value="">
    
                <br> <button type="submit"  class ="btn btn-success" id="buttonAdd" value="ADD">ADD</button> 
                <button type="button"  class ="btn btn-success btn-lg" id="buttonemp" style="display: none;" value="">update</button> 
                <a href="http://localhost:3000/" style="margin-left: inherit;" class="btn btn-primary btn-lg">HOME</a>
            </div>
         </form>

</div>
    
</body>
 </html>
